<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Introduce the name for your kitten:</p>
    <form action="/named-cat" method="post">
      <input type="text" name="name">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
